@using ElasticElmahMVC.Code
@model ElasticElmahMVC.Models.ErrorDetailModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 id="PageTitle">@Model.Title</h1>
@Html.Raw(SpeedBar.Render(
    SpeedBar.Home.Format(Model.BasePageName),
    SpeedBar.Help,
    SpeedBar.About.Format(Model.BasePageName)))
<p id="ErrorTitle">
    <span id="ErrorType">
        @Model.Type
    </span>
    <span id="ErrorTypeMessageSeparator">: </span>
    <span id="ErrorMessage">@Model.Message</span>
</p>
@if (!string.IsNullOrEmpty(Model.Detail))
{
    <pre id="ErrorDetail">@Model.Detail</pre>
}
<p id="ErrorLogTime">@string.Format("Logged on {0} at {1}",
                         Model.Time.ToLongDateString(),
                         Model.Time.ToLongTimeString())
</p>
<div id="Properties">
    <p class="table-caption">
        Properties
    </p>
</div>
<div class="scroll-view">
    <table>
        <thead>
            <tr>
                <th class="name-col">Name</th>
                <th class="value-col">Value</th>
            </tr>
        </thead>
        <tbody>
            @{
                int count = 0;
            }
            @foreach (var kv in Model.Properties)
            {
                <tr class="@(count++%2==0? "even-row" : "odd-row")">
                    <td class="key-col">@kv.Key</td>
                    <td class="value-col">@kv.Value</td>
                </tr>
            }
        </tbody>
    </table>
</div>
